@font-face {
    font-family: font;
    src: url(fonts/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: diary1;
    src: url(fonts/PizzaismyFAVORITE.ttf);
}

@font-face {
    font-family: diary2;
    src: url(fonts/DavysCrappyWrit.ttf);
}

@font-face {
    font-family: diary3;
    src: url(fonts/Snake.ttf);
}

body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: font;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#screen1 {
    background-image: url(img/startBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
}

/*Typewriter Effect*/
#typewriter {
    width: 51%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
}
#typewriter h1 {
    font-weight: lighter;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 5px black;
    overflow: hidden;
    border-right: 0.15em solid white; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: 0.15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 0.75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

#screen1 hr {
    width: 33%;
    margin-top: 2%;
}
#slogan {
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 1.5em;
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playButton {
    margin-top: 4%;
    background-color: rgba(33, 80, 147, 0.7);
    width: fit-content;
    padding: 1% 2%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 1s, box-shadow 1s;
}

#playButton:hover {
    background-color: rgba(33, 80, 147, 0.9);
    box-shadow: 3px 3px 10px black;
}
#playButton img {
    position: absolute;
    top: 47.5%;
    left: 48.3%;
    width: 3.7%;
    z-index: 1;
}
#playButton span {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 1.7em;
    position: relative;
    z-index: 2;
    cursor: pointer;
    user-select: none;
}

#button {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 2.7em;
    color: white;
    user-select: none;
    cursor: pointer;
}

#dropdown {
    display: none;
    background-color: #0D1C46;
    position: absolute;
    top: 10%;
    right: 2%;
    width: 15%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2%;
    font-size: 1.3em;
    transition: background-color 1s, transform 1s;
}
#dropdown img {
    width: 80%;
}

#dropdown:hover {
    background-color: rgba(13, 28, 70, 0.7);
    transform: scale(1.01,1.01);
}

#explain {
    position: absolute;
    display: none;
    background-color: #0D1C46;
    text-align: center;
    top: 35%;
    left: 26.5%;
    font-size: 1.4em;
    padding: 1% 3%;
    width: 40%;
    z-index: 10;

}
#explain img {
    width: 30%;
}
#explain div {
    user-select: none;
    cursor: pointer;
    transition: color 500ms, text-shadow 500ms;
}

#explain div:hover {
    color: #215093;
    text-shadow: 2px 2px 5px black;
}

#difficulty {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3%;
    margin-top: 3%;
    text-align: center;
    user-select: none;
    cursor: pointer;
    
}
#difficulty div {
    width: 15%;
    transition: transform 500ms ease-out;
}

#difficulty div:hover {
    transform: scale(1.05,1.05);
}

#easy {
    background-color: rgba(111, 147, 198, 0.7);
}

#medium {
    background-color: rgba(33, 80, 147, 0.8);  
}

#hard {
    background-color: rgba(13, 28, 70, 0.8); 
}

h2 {
    font-weight: lighter;
    font-size: 2em;
}

#difficulty img {
    margin: 12% 0%;
    width: 80%;
}

/*SCREEN 2*/
#levelOverview {
    background-image: url(img/levelBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
#levels {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100%;
    text-align: center;
    user-select: none;
}
.part {
    display: block;
}
.part img{
    width: 4%;
    margin-top: 2.4%;
    margin-left: -1.9%;
    position: absolute;

}
.part div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    cursor: pointer;
}
#level1 {
    background-color: #6F93C6;
}
#level2 {
    background-color: #215093;
}
#level3 {
    background-color: #1B2C5E;
}
#level4 {
    background-color: #0D1C46;
}
#level5 {
    background-color: #000;
}

#timeline {
    position: absolute;
    top: 48%;
    width: 100%;
    z-index: -2;
    border: 2px solid black;

}

/*Loading Screen*/
#loadingScreen{
    background-image: url(img/loadingBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

#loadingScreen img {
    margin: auto;
    display: block;
    width: 20%;
    margin-top: 20%;
}

/*END SITE*/
#endpage {
    background-image: url(img/endBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
#endpage img {
    width: 39%;
    position: absolute;
    top: 8%;
    left: 19.5%;
    cursor: pointer;
    user-select: none;
}

#textBox {
    width: 80%;
    background-color: #0D1C46;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
}

#textBox img {
    width: 15%;
    position: relative;
    display: block;
    left: 45%;
}

#text {
    padding: 2%;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text p {
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px 5px black;
    overflow: hidden;
    border-right: 0.15em solid white; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: 0.15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 0.75s step-end infinite;
}
 
.delay-1 { animation-delay: 0s; }
.delay-2 { animation-delay: 3s; }
.delay-3 { animation-delay: 6s; }
.delay-4 { animation-delay: 9s; }

/*Notebook*/
#notebook {
    background-image: url(img/notebookBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 113%;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}