@font-face {
    font-family: font;
    src: url(fonts/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: diary1;
    src: url(fonts/PizzaismyFAVORITE.ttf);
}

@font-face {
    font-family: diary2;
    src: url(fonts/DavysCrappyWrit.ttf);
}

@font-face {
    font-family: diary3;
    src: url(fonts/Snake.ttf);
}

body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: font;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#screen1 {
    background-image: url(img/startBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
}

/*Typewriter Effect*/
#typewriter {
    width: fit-content;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
}
#typewriter h1 {
    font-weight: lighter;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 5px black;
    overflow: hidden;
    border-right: 0.15em solid white; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: 0.15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 0.75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

#screen1 hr {
    width: 33%;
    margin-top: 2%;
}
#slogan {
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 1.5em;
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playButton {
    margin-top: 4%;
    background-color: rgba(33, 80, 147, 0.7);
    width: fit-content;
    padding: 1% 2%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 1s, box-shadow 1s;
}

#playButton:hover {
    background-color: rgba(33, 80, 147, 0.9);
    box-shadow: 3px 3px 10px black;
}

#playButton span {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 1.7em;
    cursor: pointer;
    user-select: none;
}

.button {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 2.7em;
    color: white;
    user-select: none;
    cursor: pointer;
}

.dropdown {
    display: none;
    background-color: #0D1C46;
    position: absolute;
    top: 10%;
    right: 2%;
    width: 15%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2%;
    font-size: 1.3em;
    transition: background-color 1s, transform 1s;
}
.dropdown img {
    width: 80%;
}

.dropdown:hover {
    background-color: rgba(13, 28, 70, 0.7);
    transform: scale(1.01,1.01);
}

#explain {
    position: absolute;
    display: none;
    background-color: #0D1C46;
    text-align: center;
    top: 35%;
    left: 26.5%;
    font-size: 1.4em;
    padding: 1% 3%;
    width: 40%;
    z-index: 10;

}
#explain img {
    width: 30%;
}
.nextButton {
    user-select: none;
    cursor: pointer;
    text-align: center;
    transition: color 500ms, text-shadow 500ms;
}

.nextButton:hover {
    color: #215093;
    text-shadow: 2px 2px 5px black;
}

#difficulty {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3%;
    margin-top: 3%;
    text-align: center;
    user-select: none;
    cursor: pointer;
    
}
#difficulty div {
    width: 15%;
    transition: transform 500ms ease-out;
}

#difficulty div:hover {
    transform: scale(1.05,1.05);
}

#easy {
    background-color: rgba(111, 147, 198, 0.7);
}

#medium {
    background-color: rgba(33, 80, 147, 0.8);  
}

#hard {
    background-color: rgba(13, 28, 70, 0.8); 
}

h2 {
    font-weight: lighter;
    font-size: 2em;
}

#difficulty img {
    margin: 12% 0%;
    width: 80%;
}

/*SCREEN 2*/
#levelOverview {
    background-image: url(img/levelBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
#levels {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100%;
    text-align: center;
    user-select: none;
}
.part {
    display: block;
}
.part img{
    width: 4%;
    margin-top: 2.4%;
    margin-left: -1.9%;
    position: absolute;

}
.part div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    cursor: pointer;
}
#level1 {
    background-color: #6F93C6;
}
#level2 {
    background-color: #215093;
}
#level3 {
    background-color: #1B2C5E;
}
#level4 {
    background-color: #0D1C46;
}
#level5 {
    background-color: #000;
}

#timeline {
    position: absolute;
    top: 48%;
    width: 100%;
    z-index: -2;
    border: 2px solid black;

}

/*Loading Screen*/
#loadingScreen{
    background-image: url(img/loadingBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

#loadingScreen img {
    margin: auto;
    display: block;
    width: 20%;
    margin-top: 20%;
}

/*END SITE*/
#endpage {
    background-image: url(img/endBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
#endpage img {
    width: 39%;
    position: absolute;
    top: 8%;
    left: 19.5%;
    cursor: pointer;
    user-select: none;
}

#textBox, #textBoxNotebook {
    width: 80%;
    background-color: #0D1C46;
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
}

#textBox img, #textBoxNotebook img {
    width: 20%;
    position: relative;
    display: block;
    left: 40%;
}
#text, #textNotebook {
    padding: 2%;
}

#text p, #textNotebook p {
    font-size: 1.2em;
    text-align: center;
    font-weight: lighter;
    color: white;
    white-space: nowrap;
    text-shadow: 2px 2px 5px black;
    overflow: hidden; 
    border-right: .15em solid white; 
    margin: 0 auto; 
    letter-spacing: 0.15em;
    visibility: hidden; 
}
  
@keyframes typingText {
    from { width: 0; visibility: visible; }
    to { width: 100%; visibility: visible;}
}
@keyframes blink-caret2 {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.delay-1 {
    animation: typingText 3.5s steps(30, end) 0s forwards, 
            blink-caret2 0.75s step-end infinite;
}
.delay-2 {
    animation: typingText 3.5s steps(30, end) 3s forwards, 
               blink-caret2 0.75s step-end infinite;
}
.delay-3 {
    animation: typingText 3.5s steps(30, end) 6s forwards, 
               blink-caret2 0.75s step-end infinite;
}
.delay-4 {
    animation: typingText 3.5s steps(30, end) 9s forwards, 
               blink-caret2 0.75s step-end infinite;
}

#textNext {
    font-family: 1.5em;
}


/*Notebook*/
#notebook {
    background-image: url(img/notebookBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 113%;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

#leaveNote {
    user-select: none;
    cursor: pointer;
    text-align: center;
    transition: color 500ms, text-shadow 500ms;
}

#leaveNote:hover {
    color: #215093;
    text-shadow: 2px 2px 3px black;
}

/************************** Level 1 **************************/

#level1Screen {
    background-image: url(img/introBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 113%;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    display: none; 
    justify-content: center; 
    align-items: center; 
}

.levelIntro {
    background-color: #0D1C46;
    width: 60%;
    font-size: 1.6em;
    padding: 2%;
    text-align: center;
    padding-bottom: 2%;
}
.levelIntro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#level1Map {
    display: none;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#bridgeChoose {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    font-size: 1.7em;
}
#bridge1, #bridge3 {
    background-color: #6F93C6;
}
#bridge2, #bridge4 {
    background-color: #215093;
}

.bridge {
    margin-top: 3%;
    padding: 3%;
    width: fit-content;
    transition: transform 1s, opacity 1s;
    cursor: pointer;
    user-select: none;
    box-shadow: 3px 3px 15px black;
}

.bridge:hover {
    transform: scale(1.05,1.05);
    opacity: 0.8;
}

#bridgeChoose p {
    font-size: larger;
}

#level1Screen h1{
    opacity: 0;
}

#swap {
    display: none;
    position: absolute;
    bottom: 2%;
    right: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
}

#timerLevel1 {
    display: none;
    position: absolute;
    top: 2%;
    left: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
    z-index: 5;
}

#successMessage {
    display: none;
    background-color: #0D1C46;
    padding: 1%;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

#successMessage img {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#houseIntro {
    display: none;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 3%;
    width: 60%;
    font-size: 1.4em;
    background-color: #0D1C46;
    text-align: center;
}

#houseIntro img {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#houseIntro div {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-bottom: 1%;
}

/*ITEMS*/
#kitchen {
    display: none;
    width: 100vw;
    height: 100vh;
}
#newspaper {
    background-image: url(img/Level1/newspaper.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:10vw;
    height: 12vh;
    position: absolute;
    right: 7vw;
    top: 70vh;
}
#newspaper:hover {
    background-image: url(img/Level1/newspaperBorder.png);
}

.close {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: auto;
    gap: 2%;
}
.close img {
    width: 100%;
}
.close p {
    user-select: none;
    cursor: pointer;
    font-size: 2.5em;
    margin-top: 0;
    margin-left: 0;
    transition: color 1s;
    width: fit-content;
    height: fit-content;
}

.close p:hover {
    color: #6F93C6;
}

#swapBathroom {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
}
#bathroom {
    display: none;
    width: 100vw;
    height: 100vh;
}
#books {
    background-image: url(img/Level1/books.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:10vw;
    height: 10vh;
    position: absolute;
    left: 60vw;
    top: 40vh;
}

#books:hover {
    background-image: url(img/Level1/booksBorder.png);
}

#soap {
    background-image: url(img/Level1/soap.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:8vw;
    height: 8vh;
    position: absolute;
    left: 14vw;
    top: 58vh;
}

#soap:hover {
    background-image: url(img/Level1/soapBorder.png);
}

#swapKitchen {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
}

#swapHouse {
    display: none;
    position: absolute;
    bottom: 2%;
    right: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
}

#plant {
    background-image: url(img/Level1/plant.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:12vw;
    height: 14vh;
    position: absolute;
    right: 8vw;
    top: 78vh;
}
#plant:hover {
    background-image: url(img/Level1/plantBorder.png);
}

#letter {
    background-image: url(img/Level1/letter.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:10vw;
    height: 12vh;
    position: absolute;
    left: 1vw;
    top: 55vh;
}
#letter:hover {
    background-image: url(img/Level1/letterBorder.png);
}

#portrait {
    background-image: url(img/Level1/picture.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:10vw;
    height: 12vh;
    position: absolute;
    left: 40vw;
    top: 25vh;
}
#portrait:hover {
    background-image: url(img/Level1/pictureBorder.png);
}

#livingroom {
    display: none;
    width: 100vw;
    height: 100vh;
}

#bedroom {
    display: none;
    width: 100vw;
    height: 100vh;
}

#swapBedroom {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
}

#swapLivingroom {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
}

#swapHouse2 {
    display: none;
    position: absolute;
    bottom: 2%;
    right: 3%;
    user-select: none;
    cursor: pointer;
    font-size: 1.4em;
}

#soapImg {
    width: 80%;

}

#letterImg {
    width: 60%;
}
#portraitImg {
    width: 50%;
}

#commit {
    display: none;
    position: absolute;
    left: 2vw;
    top: 3vh;
    user-select: none;
    font-size: 1.7em;
    cursor: pointer;
}

#selection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 2%;
}

#selection img {
    width: 100%;
}

#selectionBox {
    padding: 2%;
    display: none;
    background-color: #0D1C46;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 13%;
    width: 60%;
    text-align: center;
}

#lineSelect {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#selectionBox p {
    font-size: 1.5em;
}

#bridgeWarning {
    display: none;
    position: absolute;
    background-color: #0D1C46;
    text-align: center;
    width: 40%;
    padding: 1%;
    font-size: 1.4em;
}

#bridgeWarning img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/************************** Level 2 **************************/

#level2Screen {
    background-image: url(img/introBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 113%;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    display: none; 
    justify-content: center; 
    align-items: center; 
}

#hint2 {
    opacity: 0;
}

#paper {
    background-image: url(img/Level2/paper.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:10vw;
    height: 12vh;
    position: absolute;
    left: 60vw;
    top: 83vh;
}

#paper:hover {
    background-image: url(img/Level2/paperBorder.png);
}

#floorPart {
    display: none;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#imgFlex {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 25vh;
}

#divFlex {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 25vh;
}
#floorPart img {
    width: 250px;
}

#div1, #div2, #div3, #div4 {
    width: 250px;
    height: 150px;
    padding: 10px;
}

#div1 {
    background-color: #6f93c6c9;
}
#div2 {
    background-color: #215093c4;
}
#div3 {
    background-color: #1b2c5ec9;
}
#div4 {
    background-color: #0d1c46c1;
}

#commitBox {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    bottom: 10vh;
    text-shadow: 2px 2px 4px black;
}

#messageOrder {
    display: none;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 3%;
    width: 60%;
    font-size: 1.4em;
    background-color: #0D1C46;
    text-align: center;
    padding-bottom: 2%;
}

#stage {
    display: none;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/Level2/stageRopes.png);
    background-size: cover;
}

#dropRope {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
}

#weight {
    width: 10%;
    position: absolute; 
    bottom: 20vh;
    left: 85vw;
}

#basket {
    width: 6%;
    position: absolute; 
    bottom: 15vh;
    left: 18vw;
}

#removeBasket {
    width: 8%;
}

#removeBasket img {
    width: 100%;
}

#errorMessage {
    display: none;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 1.4em;
    background-color: #0D1C46;
    text-align: center;
    padding: 2%;
}

#stageLight {
    width: 10%;
    position: absolute; 
    bottom: 18vh;
    left: 18vw;
    z-index: -10;
}

#stageLight img {
    width: 100%;
}

#lightSwitch {
    width: 3%;
    position: absolute;
    right: 0vw;
    bottom: 10vh;
}

#cleanStage {
    width: fit-content;
    display: block;
    left: 45vw;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    bottom: 10vh;
    text-shadow: 2px 2px 4px black;
}

#messageOrder img, #errorMessage img {
    width: 30%;
}

/************************** Level 3 **************************/

#level3Screen {
    background-image: url(img/introBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 113%;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    display: none; 
    justify-content: center; 
    align-items: center; 
}

#hint3 {
    opacity: 0;
}

#galleryMessage {
    display: none;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 3%;
    width: 60%;
    font-size: 1.4em;
    background-color: #0D1C46;
    text-align: center;
    
    padding: 2%;
}

#galleryMessage img {
    width: 25%;
}

/*PUZZLE*/

#puzzle {
    width: 40%;
    display: none;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    margin-left: auto;
    margin-right: auto;
}

.puzzleBox {
    width: 145px;
    height: 145px;
    background-color: #ffffffce;
    border: 1px solid black;
}